<div class="container">
    <img src="~/images/faleconosco1.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h3> Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tem alguma dúvida, sugestão ou reclamação, por favor, entre em contato conosco.
        </p>
        <p>
            <span>
                <img src="~/Images/Envelope-icon24.png" />
            </span>
            <h5><email endereco="devlouca@gmail.com" conteudo="Enviar um e-mail"></email></h5>
            <br />
            <span>
                <img src="~/Images/phone-app-icon.png" />
            </span>
            <h5>(XX) XXXX-XXXXXXX</h5>
            <br/>
            <span>
                <img src="~/Images/Home-iconred.png" />
            </span>
            <h5> Rua Manoel Jonas Costa 101 - TB/SC</h5>           
        </p>
    </div>
</div>