@model FileManagerModel
@{
    ViewBag.Title = "Arquivos";
}

@if (Model.Files != null)
{
    <h3>Imagens:</h3>
    <hr />
    var caminho = Model.PathImagesProduto;
    <div class="row">
        @foreach (FileInfo file in Model.Files)
        {
            <div class="column">
                <img src="~/@caminho/@file.Name" width="100" height="100">
                <div style="padding:10px;text-align:left">
                    <a href="@Url.Action("DeleteFile","AdminImages", new {fname = file.Name})">Apagar</a>
                </div>
            </div>
        }
    </div>
}