@{
    ViewData["Title"] = "UploadFiles";
}

<img src="~/Images/Upload.png" width="50" height="50"/>
<hr/>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        @if (ViewData["Erro"] != null)
        {
            <img src="~/Images/error.png" width="50" height="50"/>
            <h4>@ViewData["Erro"]</h4>
        }
    </div>
    <div class="container">
        @if (ViewData["Resultado"] != null)
        {
            <h4>@ViewData["Resultado"]</h4>
            <hr/>
            @if (ViewBag.Arquivos != null)
            {
                @foreach (string arquivo in ViewBag.Arquivos)
                {
                    <li>
                        @arquivo
                    </li>
                }
            }
        }
    </div>
</div>